.git
.gitignore
.env
**/.env
**/.env.*
!**/.env.example

data
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
backend/.venv

**/node_modules
**/dist
desktop/src-tauri/target

*.dmg
*.msi
*.exe
*.log
